* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  position: absolute;
}

ul {
  list-style-type: none;
  position: fixed;
  left: 1px;
  right: 1px;
  margin: 0;
}
.items {
  position: relative;
  left: 75%;
  padding: 15px 15px 15px 15px;
  display: inline-block;
  transition: font-size 0.25s;
}
.items:hover {
  background-color: rgb(86, 76, 76);
}
a {
  color: white;
  text-decoration: none;
}

.image-1 {
  height: 100vh;
  background-color: black;
  background-image: url(https://images.unsplash.com/photo-1517838277536-f5f99be501cd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.Quote {
  position: absolute;
  font-size: xxx-large;
  font-weight: bold;
  color: white;
  width: 600px;
  height: 200px;
  top: 18%;
  left: 4%;
  transition: font-size 0.25s;
}
.Quote:hover {
  font-size: 60px;
}
.line-1 {
  opacity: 0.4;
}
.line-2 {
  opacity: 0.7;
}
.line-3 {
  opacity: 0.9;
}

.image-2 {
  height: 100vh;
  background-color: black;
  background-image: url(https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2120&q=80);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.icon {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 88%;
  left: 1px;
  width: 300px;
  height: 80px;
}
img.icon-1 {
  border-radius: 10%;
  width: 100px;
  height: 75px;
}
.company {
  position: absolute;
  top: 40%;
  left: 36%;
}
p {
  font-size: large;
  display: inline-block;
  color: white;
}

.Registration {
  position: absolute;
  top: 20%;
  left: 65%;
  height: 500px;
  width: 400px;
  border: 1px solid red;
}
h2 {
  padding-left: 100px;
  padding-top: 20px;
  margin-bottom: 30px;
  color: white;
}
.details {
  color: white;
  font-size: x-large;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
}
.btn {
  border: none;
}
