* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e036e;
}

.container {
  background-color: #fff;
  width: 90%;
  min-height: 90%;
  padding: 50px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 47%;
  border: 2px solid rgb(0, 82, 82);
  border-radius: 10px;
  box-shadow: 0 25px 50px rgb(7, 20, 35, 0.2);
}

.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

button {
  height: 28px;
  width: 28px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  border: none;
  background-color: #ffffff;
  outline: none;
  color: #020929;
}

select {
  padding: 7px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.options label,
.options select {
  font-family: "Poppins", sans-serif;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 28px;
  border: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

#text-input {
  margin-top: 10px;
  border: 2px solid aqua;
  padding: 20px;
  height: auto;
}

.active {
  background-color: aqua;
}

#undo:active,
#redo:active {
  color: aqua;
}

.file-upload-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.file-upload-container input {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.video-section {
  position: relative;
  width: 150px;
  height: 100px;
  overflow: hidden;
  border: 1px solid #ccc;
  margin: 10px 0;
  z-index: 1;
}

#submitButton {
  position: fixed;
  bottom: 1vh;
  left: 10%;
  height: 5vh;
  width: 80vw;
  padding: 1px 30px 1px 30px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#submitButton:hover {
  background-color: #2980b9; 
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border: 2px solid #020929;
  border-radius: 10px;
  box-shadow: 0 25px 50px rgb(7, 20, 35, 0.2);
  z-index: 1;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 30px;
  }

  #text-input {
    padding: 10px;
  }

  #submitButton {
    width: 100%;
    left: 0;
  }
}
