body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

.fixed-1 {
  position: fixed;
  left: 1px;
  right: 1px;
  z-index: 100; /* It will make the navbar look on top of other text*/
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar {
  display: block;
  left: 62%;
  margin: 0px;
  padding: 0px;
  opacity: 0.5;
  transition: opacity 0.25s;
}

.navbar:hover {
  opacity: 1;
}

.nav-item {
  list-style-type: none;
  color: white;
  position: relative;
  left: 65%;
  padding: 15px 30px 15px 30px;
  display: inline-block;
  transition: background-color 0.25s, font-size 0.25s;
}

.nav-item:hover {
  background-color: rgba(46, 67, 164, 0.3);
  font-size: x-large;
}

.Images {
  padding: 0;
  width: 100%;
  top: 48px;
  object-fit: cover;
  background-color: #00003a;
}
.video-play {
  position: relative;
  margin-top: -80px;
  right: 0;
  bottom: 0;s
}
@media (min-aspect-ratio: 16/9) {
  .video-play {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-play {
    width: auto;
    height: 100%;
  }
}
.first-content {
  color: white;
  width: 400px;
  position: absolute;
  top: 30%;
  left: 13%;
  z-index: 2;
}

.second {
  background-image: url("./Images/2.jpg");
  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.second-content {
  color: black;
  width: 400px;
  position: absolute;
  top: 150%;
  left: 62%;
  z-index: 2;
}

.third {
  position: absolute;
  z-index: 2;
  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 115px 0 0 0;
}

.third-content {
  color: rgb(243, 0, 0);
  position: relative;
  width: 400px;
  top: 10%;
  left: 10%;
  z-index: 1;
}

.Discription {
  font-size: large;
  width: 400px;
  transition: width 0.25s, font-size 0.25s;
}

h3 {
  font-size: xx-large;
  margin: 0 0 10px 0;
  transition: font-size 0.25s;
}
h3:hover {
  font-size: xxx-large;
}
.Discription:hover {
  font-size: x-large;
  width: 450px;
}
.button1 {
  border: none;
  width: 150px;
  height: 40px;
  color: rgb(0, 255, 255);
  background-color: rgb(127, 65, 34);
  padding: 7px 7px 7px 7px;
  transition: width 0.25s, height 0.25s, opacity 0.25s, font-size 0.4s,
    transform 0.25s;
}
.button1:hover {
  cursor: pointer;
  height: 60px;
  opacity: 0.4;
  font-size: large;
  width: 180px;
}
.button1:active {
  color: rgb(46, 67, 164);
  background-color: rgb(0, 255, 255);
  transform: scale(0.9);
}

.button2 {
  border: none;
  width: 150px;
  height: 40px;
  color: rgb(255, 227, 187);
  background-color: rgb(213, 70, 0);
  padding: 7px 7px 7px 7px;
  transition: width 0.25s, height 0.25s, opacity 0.25s, font-size 0.4s,
    transform 0.25s;
}
.button2:hover {
  cursor: pointer;
  height: 60px;
  font-size: large;
  opacity: 0.4;
  width: 180px;
}
.button2:active {
  color: rgb(213, 70, 0);
  background-color: rgb(255, 227, 187);
  transform: scale(0.9);
}

.button3 {
  border: none;
  width: 150px;
  height: 40px;
  color: rgba(150, 195, 200, 255);
  background-color: rgb(0, 0, 0);
  padding: 7px 7px 7px 7px;
  transition: width 0.25s, height 0.25s, opacity 0.25s, font-size 0.25s,
    transform 0.4s;
}
.button3:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: rgba(150, 195, 200, 255);
  height: 60px;
  font-size: large;
  opacity: 0.4;
  width: 180px;
}
.button3:active {
  color: rgba(150, 195, 200, 255);
  background-color: rgb(0, 0, 0);
  transform: scale(0.9);
}
